/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300;400;600&display=swap");
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Albert Sans', sans-serif;
 */

:root {
  --cr1: #0b1118;
  --cr2: #cafd36;
  --cr3: #666b72;
  --cr4: #b1bbc9;
  --cr5: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: var(--cr1);
  color: var(--cr5);
  font-family: "Albert Sans", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background: rgba(11, 17, 24, 0.95);
  backdrop-filter: blur(2px);
  z-index: 999;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: var(--cr-3);
  display: none;
}

.wrap {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  list-style: none;
}

.menu-list li {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
}

.menu-list a {
  color: var(--cr2);
}

.resume-menu-el {
  background-color: var(--cr2);
}

.resume-menu-el a {
  color: var(--cr1);
}

.side-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  border-radius: 0 23px 23px 0;
  background: rgba(11, 17, 24, 0.92);
  backdrop-filter: blur(2px);
  transition: 0.6s cubic-bezier(0.175, 0.585, 0.32, 1);
  z-index: 9;
}

.side-bar a {
  display: block;
  text-decoration: none;
  color: var(--cr2);
}

.github {
  top: 100px;
  left: -315px;
}

.linkedin {
  top: 170px;
  left: -320px;
}

.github:hover,
.linkedin:hover {
  left: 0;
}

.side-icon {
  height: 46px;
  margin-left: 20px;
}

main {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  padding-top: 150px;
  height: 2000px;
  position: relative;
}

section {
  width: 80%;
  margin: auto;
  transition: 0.8s;
}

#introduction {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#blog,
#projects {
  position: absolute;
  left: 200%;
  transform: translateX(-50%);
  
}

.profile-pic {
  width: 350px;
  border-radius: 5px;
}

.profile-vertical {
  width: 4px;
  background: var(--cr1);
  margin: 0 25px 0 25px;
}

.profile-text {
  /* flex-grow: 1; */
  width: 55%;
}

.profile-text h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

h1 span {
  color: var(--cr2);
}

.profile-text h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 23px;
}

.profile-text p {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 1px;
  padding: 0 5px;
  margin-bottom: 10px;
}

.vertical-bar {
  width: 2px;
  height: 100px;
  background: var(--cr5);
}

@media (max-width: 580px) {
  header label {
    display: initial;
  }

  #menu-bar:checked ~ .navbar {
    left: 0;
  }

  nav {
    position: absolute;
    background: rgba(11, 17, 24, 0.99);
    backdrop-filter: blur(2px);
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -120%);
    width: 70%;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .menu-list li {
    display: block;
    text-align: center;
    padding: 15px;
  }
}
