@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600&display=swap");

:root {
  --cr1: #0b1118;
  --cr2: #cafd36;
  --cr3: #4eeefc;
  --cr4: #fc286c;
  --cr5: #ebebeb;
  --cr6: #b4dadf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: none;
}

html {
  height: 100%;
}

body {
  /* cursor: url('pics/cursor.png') 20px 20, auto; */
  height: 100%;
  background: var(--cr1);
  /* background: radial-gradient(70% 70% at 280px 220px, #0f2235, var(--cr1)); */

  color: var(--cr6);
  font-family: "source code", monospace;
  max-width: 100%;
  overflow: hidden;
}

.circle {
  position: absolute;
  height: 10px;
  width: 10px;
  top: -15px;
  left: -15px;
  border-radius: 50%;
  border: 1px solid var(--cr2);
  box-shadow: 0px 0.7px 15px var(--cr2);
  animation: rotation 2s linear infinite;
  background: var(--cr2);
  transition: width 0.2s, height 0.2s;
}

.big {
  border: 1px solid var(--cr5);
  box-shadow: 0px 2px 18px var(--cr5);
  background: none;
  top: -10px;
  width: 30px;
  height: 30px;
  animation: rotation 3s linear infinite;
}

.gradient-background {
  position: absolute;
  height: 200%;
  width: 200%;
  background: radial-gradient(35% 50%, #0b1927, var(--cr1));
  background-position: -1000px -1000px;
  background-repeat: no-repeat;
}

header,
footer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /* background-color: var(--cr1); */
  /* background: radial-gradient(70% 170% at 200px 70px, #0f3135, var(--cr1)); */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  letter-spacing: 1px;
}
.logo img {
  height: 35px;
  margin-right: 10px;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: var(--cr-3);
  display: none;
}

.wrap {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  list-style: none;
}

.menu-list li {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
}

.menu-list a {
  color: var(--cr2);
}

.active-link {
  text-shadow: 0 0 8px rgba(202, 253, 54, 1);
}

.menu-link {
  transition: 0.3s;
}

.menu-link span {
  opacity: 0;
  /* transition: 0.4s; */
}

.menu-link:hover span {
  opacity: 0.6;
}

.active-link span {
  opacity: 1;
  display: inline-block;
  transition: 0.3s;
}

/* MAIN SECTION */

main {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  padding-top: 130px;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s;
}

#skills,
#projects,
#contact {
  left: 200%;
  opacity: 0;
}

.profile {
  justify-content: ;
  /* margin-top: 70px; */
  
  position: relative;
}

.profile-upper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  letter-spacing: 1px;
  line-height: 2rem;
  color: var(--cr6);
  font-size: 22px;
}

.profile-right {
  margin-left: 30px;
  width: 40%;
  color: #142a3f;
}



.profile a {
  color: var(--cr3);
}

.code-string {
  color: var(--cr2);
}

.code-different {
  color: var(--cr4);
}

.code-num {
  color: #142a3f;
  margin-right: 35px;
}

.profile-pic-container {
  position: relative;
  width: 290px;
  height: 350px;
  /* border-radius: 0 20% 10% 20%; */
  /* border-radius: 25px; */
  border: 1px var(--cr2) solid;
  overflow: hidden;
  z-index: 1;
  /* box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.1); */
}

.pic-wrapper {
  position: relative;
  width: 290px;
  height: 350px;
  margin-right: 50px;
}

.pic-wrapper::before {
  content: "";
  position: absolute;
  width: 290px;
  height: 350px;
  left: 5px;
  top: -5px;
  border: 1px solid var(--cr2);
}

.vertical-line,
.horizontal-line {
  position: absolute;
  left: 20px;
  top: -50px;
  display: none;
}

.vertical-line {
  width: 1px;
  height: 45px;
  background: var(--cr2);
}

.bottom-line {
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(202, 253, 54, 1),
    rgba(202, 253, 54, 0)
  );
  top: 350px;
}

.horizontal-line {
  height: 1px;
  width: 800px;
  background: linear-gradient(
    to right,
    rgba(202, 253, 54, 1),
    rgba(202, 253, 54, 0)
  );
}

.profile-pic {
  position: absolute;
  width: 100%;
  top: -30px;
  z-index: 2;
}

.profile-vertical {
  width: 4px;
  background: var(--cr1);
  margin: 0 25px 0 25px;
}

.profile-bottom {
  white-space: ;
  margin: auto;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 1.7rem;
  letter-spacing: 1px;
  font-size: 18px;
  color: #80b1b6;
}

/* .profile-text h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

h1 span {
  color: var(--cr2);
}

.profile-text h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 23px;
}

.profile-text p {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 1px;
  padding: 0 5px;
} */

.profile-text {
}

/* .profile-text-more {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
} */

.main-tech,
.minor-tech {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-tech,
.minor-tech {
  /* opacity: 0.8; */
  filter: saturate(75%);
}

.icon-tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 60px;
  height: 80px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.minor-tech img,
.main-tech img {
  transition: 0.6s;
  position: absolute;
}

.main-tech img {
  height: 30px;
  top: 20px;
}

.minor-tech img {
  height: 25px;
}

.main-tech .not-done {
  opacity: 0.1;
}

.icon-tooltip .icon-tooltiptext {
  opacity: 0;
  /* background: rgba(11, 17, 24, 0.8); */
  /* border-radius: 5px; */
  text-align: center;
  font-size: 14px;
  /* padding: 5px 10px; */
  transition: 0.4s;

  /* Position the tooltip */
  position: absolute;
  bottom: 4px;
  z-index: 1;
}

.icon-tooltip:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: scale(1.1);
}

.icon-tooltip:hover .icon-tooltiptext {
  opacity: 1;
}

/* PROJECTS SECTION */

.project-container {
  display: flex;
  padding-left: 70px;
  gap: 25px;
}

.project-container img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.project-container:hover img {
  transform: scale(1.08);
}

.project-description {
  font-size: 14px;
  font-weight: 200;
}

.project-title {
  padding: 5px 0;
  color: var(--cr2);
  font-size: 17px;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
  position: relative;
}

.copywrite {
  position: absolute;
  left: 35px;
  font-size: 14px;
}

.footer span {
  color: var(--cr2);
}

.socials-links {
  display: flex;
  gap: 22px;
}

.socials-links a {
  color: var(--cr5);
}

.footer div {
  display: flex;
  align-items: center;
}
.footer img {
  height: 23px;
  margin-right: 7px;
}

@media (max-width: 1158px) {
  .wrap {
    width: 100%;
  }
  section {
    width: 95%;
  }

  .main-tech img {
    height: 25px;
  }

  .minor-tech img {
    height: 20px;
  }

  .profile-vertical {
    margin: 0 15px;
  }
}

@media (max-width: 580px) {
  header {
    background: radial-gradient(70% 170% at 200px 70px, #0f2235, var(--cr1));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
  }

  header label {
    display: initial;
  }

  #menu-bar:checked ~ .navbar {
    left: 0;
  }

  nav {
    position: absolute;
    background: rgba(11, 17, 24, 0.99);
    backdrop-filter: blur(2px);
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -120%);
    width: 70%;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .menu-list li {
    display: block;
    text-align: center;
    padding: 15px;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
