@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600&display=swap");

:root {
  --cr1: #0b1118;
  --cr2: #cafd36;
  --cr3: #4eeefc;
  --cr4: #fc286c;
  --cr5: #ebebeb;
  --cr6: #b4dadf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* cursor: none; */
}

body {
  background: radial-gradient(80% 70% at 100px 20px, #0c1a28, var(--cr1));
  background-attachment: fixed;
  color: var(--cr6);
  font-family: "source code", "Fira Code", monospace;
  width: 100vw;
  /* height: 400vh; */
}

html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* CURSOR AND RADIAL BACKGROUND */

/* .circle {
  
  position: absolute;
  height: 10px;
  width: 10px;
  
  border-radius: 50%;
  border: 1px solid var(--cr2);
  box-shadow: 0px 0.7px 15px var(--cr2);
  animation: rotation 2s linear infinite;
  background: var(--cr2);
  /* z-index:      1000; */

/* .gradient-background {
  position: absolute;
  height: 90%;
  width: 90%;
  background: radial-gradient(40% 50%, #0b1724, var(--cr1));
  background-repeat: no-repeat;
  overflow: hidden;
} */

/* NAVIGATION BAR  */

header {
  position: fixed;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(4px);
  z-index: 99;
  transition: 0.3s;
  overflow: ;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  letter-spacing: 1px;
}
.logo img {
  height: 35px;
  margin-right: 10px;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: var(--cr-3);
  display: none;
}

.wrap {
  width: 100vw;
  max-width: 1280px;
  margin: auto;
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  list-style: none;
}

.menu-list li {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
}

.menu-list a {
  color: var(--cr2);
}

.active-link {
  text-shadow: 0 0 8px rgba(202, 253, 54, 1);
}

.pointer-link {
  transition: 0.3s;
}

.pointer-link:hover {
  cursor: pointer;
}

.pointer-link span {
  opacity: 0;
  transition: 0.4s;
}

.pointer-link:hover span {
  opacity: 0.6;
}

.active-link span {
  opacity: 1;
  display: inline-block;
  transition: 0.3s;
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  align-items: center;
  /* max-width: 1280px; */
  padding-top: 140px;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  scroll-margin-top: 140px;
  /* margin-bottom: 100px; */
  /* min-height: 100vh; */
}

.intro-wrap {
  min-height: 100vh;
}

/* ABOUT SECTION */

.profile-code {
  position: relative;
}

.profile-upper {
  display: flex;
  margin-top: 70px;
  letter-spacing: 1px;
  line-height: 2rem;
  color: var(--cr6);
  font-size: 22px;
}

.profile-code a {
  color: var(--cr3);
  transition: 0.3s;
}

.profile-code a:hover {
  cursor: pointer;
  color: var(--cr5);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.code-string {
  color: var(--cr2);
}

.code-different {
  color: var(--cr4);
}

.code-num {
  color: #142a3f;
  margin-right: 35px;
}

.profile-bottom {
  margin: auto;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 1.7rem;
  letter-spacing: 1px;
  font-size: 18px;
  color: #80b1b6;
}

/* SKILLS SECTION */

#skills .section-wrap-radialbg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-wrap-radialbg {
  min-height: 100vh;
}

.section-wrap-radialbg:first-child {
  margin-top: 30px;
}

.section-wrap-radialbg h2 {
  color: var(--cr6);
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.middle-skill-header {
  margin-top: 60px;
  margin-bottom: 0px;
}

.frontend {
  margin-top: 15px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tech-element {
  min-width: 110px;
  height: 150px;
  position: relative;
  background: #0d1a27;
  color: #0d1a27;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.tech-element:hover {
  background-color: #142a3f;
  color: var(--cr6);
  transform: scale(1.1);
}

.tech-element img {
  width: 70px;
  transition: 0.3s linear;
  transition-delay: 0.1s;
}
.tech-element:hover img {
  transform: scale(1.15);
}

.tech-element p {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.tech-bottom {
  display: flex;
  justify-content: space-between;
  /* width: 90 %; */
  padding: 0 10px;
}

.backend,
.tool {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 47%;
  gap: 10px;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.tool .tech-element,
.backend .tech-element {
  height: 100px;
  width: 60px;
}

.tool .tech-element img,
.backend .tech-element img {
  width: 40px;
}

.tool .tech-element p,
.backend .tech-element p {
  padding-top: 10px;
  font-size: 14px;
}

.tool .tech-element:hover,
.backend .tech-element:hover {
  transform: scale(1.05);
}

.tool .tech-element:hover img,
.backend .tech-element:hover img {
  transform: scale(1.1);
}

.figma img {
  height: 40px;
}

.skill-in-progress {
  opacity: 0.2;
}

/* PROJECTS SECTION */

.projects-flex {
  display: flex;
  /* justify-content: space-evenly; */
}

#projects h2 {
  text-align: left;
  margin-bottom: 50px;
}

.project-container {
  background: #0d1a27;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 450px;
  width: 30%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.project-container:hover {
  transform: scale(1.05);
  background: #142a3f;
}

.project-img {
  height: 180px;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}

.project-img img {
  width: 100%;
  border-radius: 10px;
}

.project-text {
  padding: 15px;
}

.project-text h3 {
  font-weight: 400;
  color: var(--cr3);
  margin-bottom: 3px;
}

.project-text h4 {
  font-weight: 400;
  color: var(--cr6);
  margin-bottom: 3px;
}

.project-text p {
  font-size: 15px;
}

.project-text img {
  height: 40px;
  padding: 10px 5px;
}

.project-footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #cafd36;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-footer img {
  height: 18px;
}

.project-footer a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cr2);
}

/* MEDIA QUERRIES FOR MOBILE DEVICES */

/* MEDIA 1158PX */

@media (max-width: 1158px) {
  section {
    width: 95%;
  }
}

@media screen and (max-width: 880px) {
  * {
    cursor: auto;
  }

  body {
    background: radial-gradient(70% 60% at 80px 50px, #0c1a28, var(--cr1));
  }

  .menu-list li {
    display: inline-block;
    padding: 5px 0px;
    margin: 0px;
  }

  .circle {
    display: none;
  }

  .gradient-background {
    display: none;
  }

  .logo {
    font-size: 25px;
  }
}

@media screen and (max-width: 660px) {
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background: var(--cr2);
  }

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  header label {
    display: initial;
  }

  nav {
    position: absolute;
    background: rgba(11, 17, 24, 0.94);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    right: 5%;
    width: 90%;
    top: 110vh;
    padding: 23px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.6s ease;
    font-size: 23px;
  }

  #menu-bar:checked ~ .navbar {
    right: 5%;
    top: 100px;
  }

  .logo {
    font-size: 27px;
  }

  .menu-list li {
    display: block;
    text-align: center;
    padding: 15px;
  }

  .profile-upper {
    font-size: 20px;
    line-height: 1.8rem;
  }

  .profile-bottom {
    width: 90%;
  }

  section {
    width: 100%;
  }
  .tech-bottom {
    flex-direction: column;
    align-items: center;
  }

  .backend,
  .tool {
    width: 95%;
  }
  #projects {
    margin-top: 150px;
  }
  .projects-flex {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}

/* MEDIA QUERRY 490PX */

@media screen and (max-width: 490px) {
  .logo p {
    display: none;
  }

  .wrap {
    padding: 25px;
  }

  .code-num {
    margin-right: 20px;
  }

  .logo {
    font-size: 23px;
  }

  /* .logo p {
    display: none;
  } */

  main {
    width: 95%;
    padding-top: 80px;
  }

  section {
    width: 100%;
    scroll-margin-top: 80px;
  }

  .profile-upper {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6rem;
    padding-left: 15px;
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .intro-wrap {
    width: 100%;
  }

  .profile-bottom {
    width: 90%;
    margin-top: 80px;
  }
}

@media screen and (max-width: 354px) {
  .profile-upper {
    font-size: 16px;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
